<div>
    <!--Основная каритнка-->
    <div class=".mainSlider" style="position:relative">

        <!--Перемотка в лево-->
        <div class=".prev">
            <img style="position:absolute;left:0px" src="https://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png" />
        </div>
        <div>
            <img class=".picture" src="" />
        </div>
        <!--Перемотка вперед-->
        <div class=".next">
            <img style="position:absolute; right:0px" src="https://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png" />
        </div>

        <p style="text-align: center; margin-top: 10px;"></p>
    </div>
</div>

<div class=".thumbnails" style="display:none">
    <img style="width: 180px; margin: auto; display: inline-block " src="pictures/ln.jpg" alt="London" />
    <img style="width: 180px; margin: auto; display: inline-block " src="pictures/ny.jpg" alt="NewYork" />
    <img style="width: 180px; margin: auto; display: inline-block " src="pictures/spb.jpg" alt="Saint-Petersburg" />
</div>

<script src="../../Static/Scripts/imgslider.js"></script>