<!DOCTYPE html>
<html>
<head>
    <link href="../static/css/main.css" rel="stylesheet" type="text/css" </link>
    <script src="../Static/Scripts/comment.js"></script>
    <meta charset="utf-8" />
    <title></title>
</head>
<!--SIDEBAR-->
<header>
    <h1>О проекте</h1>
</header>
<body>
    <div id="main_area" style="padding-left:20px">
        <p>Покажем всё что скрыто..</p>
        <img style=" width: 200px;" src="https://memchik.ru/images/memes/5dd12ef0b1c7e378952a8a4a.jpg" />

        <!--Оставить комменатрий-->
        <button id="add_comment_btn" onclick="GetUserData()"> Оставить комментарий </button>
        <div class="comment_area">
        </div>
    </div>
</body>
<!--FOOTER-->
</html>
