<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="..\static\css\index.css" rel="stylesheet" type="text/css" </link>
</head>

<div id="main">

    <aside class="aside">
        <div class="navbar">
            <a href="/" <p>Другие трансляции</p></a>
            <a href="/"  <p>О проекте</p></a>
        </div>
    </aside>


    <header>
        <div class="header">
            <!--Заголовок страницы-->
            <h1>LifeSpot - прямые трансляции с улиц</h1>
            <!--Параграф-->
            <p>Покажем, что происходит прямо сейчас</p>

            <label>Поиск</label>
            <input id="search" name="Поиск" />
        </div>
    </header>

    <body>
        <div class="bordered">
            <div class="video-container">
                <iframe width="400" height="225" src="https://rutube.ru/play/embed/511c7eec1df7459bbaf3333db678b851/" style="border: none;" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                <h3 class="video-title">Нью-Йорк, Брайант Парк</h3>
            </div>
            <div class="video-container">
                <iframe width="400" height="225" src="https://rutube.ru/play/embed/890d51d41943568410075bf2b5fd1f66/" style="border: none;" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                <h3 class="video-title">Санкт-Петербург, Невский Проспект</h3>
            </div>
            <div class="video-container">
                <iframe width="400" height="225" src="https://rutube.ru/play/embed/5db23873f47db3bf52477ce564e172dd/" style="border: none;" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                <h3 class="video-title">Лондон, автобусный маршрут</h3>
            </div>
        </div>
    </body>

    <footer>
        <p>LifeSpot - все права защищены</p>
        <p>Связаться с нами: contact@lifespot.ru</p>
    </footer>
</div>
</html>