<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script src="../Static/Scripts/testing.js"></script>
</head>

<header id="header-index">
    <h1>LifeSpot - тестовая страница</h1>
    <p>Здесь можно экспериментировать с кодом</p>
    <input type="text" oninput="

    " size=50%>
</header>

<aside id="sidebar">
    <div class="navbar">
        <a href="/"><p>Трансляции</p></a>
        <a href="/"><p>О проекте</p></a>
    </div>
</aside>

<!--SIDEBAR-->
<body>
    <div style="margin:1% 1%; border:0px solid black; width:99%; height:100%; ">
        <div>
            <div class="video-container" style="border: 1px solid black; display: inline-block; margin: 5px; padding: 2px">
                <div style="background-color: yellow; height: 160px; width: 250px"></div>
                <h3>Санкт-Петербург</h3>
            </div>
            <div class="video-container" style="border: 1px solid black; display: inline-block; margin: 5px; padding: 2px ">
                <div style="background-color: red;height: 160px; width: 250px"></div>
                <h3>Нью-Йорк</h3>
            </div>
            <div class="video-container" style="border: 1px solid black; display: inline-block; margin: 5px; padding:2px">
                <div style="background-color: blue; height: 160px; width: 250px"></div>
                <h3>Лондон</h3>
                </divclass="video-container">
            </div>

        </div>
        <label style="display:block" id="SearchLable">Последний ввод...</label>
        <input class="curreentInput" type="text"> </>
        <button onclick="GetPreviousInput()">Показать предыдущую команду</button>
</body>
<!--FOOTER-->

</html>